/** Primary Fonts **/
/* 
**
Gothic A1 = Korean
M PLUS 1p = Japana
Prompt = Thailandish
Cairo = Arabic
Ramabhadra = Telegu
Catamaran = Tamil
Source Sans Pro/Ubuntu = Rest
**
*/
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900|M+PLUS+1p:100,300,400,500,700,800,900|Prompt:100,200,300,400,500,600,700,800,900|Source+Sans+Pro:200,300,400,600,700,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,thai,vietnamese');

@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Catamaran:100,200,300,400,500,600,700,800,900|Ramabhadra|Ubuntu:300,400,500,700&subset=arabic,cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,tamil,telugu');
/** Secondary Fonts **/
/* 
**
Jua (Formerly Nanum Gothic) = Korean
M PLUS Rounded 1c = Japana and Evraika
Mitr = Thailandish
Mada = Arabich
NTR = Telegu
Pavanam = Tamil
Jura = Greek and Kyrillic
Raleway = Rest
**
*/
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700|M+PLUS+Rounded+1c:100,300,400,500,700,800|Mitr:200,300,400,500,600,700|Nanum+Gothic:400,700,800|Raleway:100,200,300,400,500,600,700,800,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,thai,vietnamese');

@import url('https://fonts.googleapis.com/css?family=Jua|Mada:200,300,400,500,600,700,900|NTR|Pavanam&subset=arabic,korean,latin-ext,tamil,telugu');
/* Arniki Forniki and former versions of MpistoMobile2 */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&subset=cyrillic,hebrew,latin-ext');
/* Misc */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');
/* Old Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");

/* Serif */
@import url('https://fonts.googleapis.com/css?family=Amiri:400,700|Cambo|David+Libre:400,500,700|Lora:400,700|Merriweather:300,400,700,900|Neuton:200,300,400,400i,700,800|Noto+Serif+JP:200,300,400,500,600,700,900|Noto+Serif:400,700|Pridi:200,300,400,500,600,700|Ramaraja|Song+Myung|Source+Serif+Pro:400,600,700&subset=arabic,cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,telugu,thai,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800|PT+Sans:400,700|PT+Serif:400,700|Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900|Varela&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,700&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Cutive|Gentium+Basic:400,700&subset=latin-ext');

/* Mono Fonts */
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Fira+Mono:400,500,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

/* Arimo */
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,latin-ext,vietnamese');
@import url('https://rsms.me/inter/inter.css');


/* GTK Font (By GTK Team) */
@font-face {
    font-family:  GTK;
    src:url('GTK-Regular.ttf') format('truetype');
	font-weight:400;
}

@font-face {
    font-family:  GTK;
    src:url('GTK-Bold.ttf') format('truetype');
	font-weight:700;
}


/* Mpisto font */
@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-MediumCondensed.ttf') format('truetype');
	font-weight:500;
	font-stretch: condensed
}

/*@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-SemiCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: semi-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-SemiexpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: semi-expanded
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-CondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-expandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: expandeed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-ExtraCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: extra-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-ExtraExpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: extra-expanded
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-UltraCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: ultra-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-UltraExpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: ultra-expanded
}


*/
	   
@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Regular.ttf') format('truetype');
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Light.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Medium.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Bold.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Light.ttf') format('truetype');
    font-weight:300;
}


@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Regular.ttf') format('truetype');
}


@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Bold.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Extrabold.ttf') format('truetype');
	font-weight:800;
}


@font-face {
    font-family: LCD;
    src: url('https://images.wikia.nocookie.net/__cb20161004075228/24wikia/images/d/db/LCD_ITC-Normal.otf') format('opentype'),url('https://images.wikia.nocookie.net/__cb20161004075229/24wikia/images/a/a5/LCD_ITC-Normal.woff') format('woff'),url('https://images.wikia.nocookie.net/__cb20161004075228/24wikia/images/1/1e/LCD_ITC-N0ormal.ttf') format('truetype')
}

@font-face {
    font-family:  Tahoma2;
    src:url('Tahoma.ttf') format('truetype');
}

@font-face {
    font-family:  Georgia2;
    src:url('Georgia.ttf') format('truetype');
}


@font-face {
    font-family:  Arial2;
    src:url('Arial.ttf') format('truetype');
}


@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans T.ttf') format('truetype');
	font-weight:100;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans EL.ttf') format('truetype');
	font-weight:200;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans L.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans.ttf') format('truetype');
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans M.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans SB.ttf') format('truetype');
	font-weight:600;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans B.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans EB.ttf') format('truetype');
	font-weight:800;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans H.ttf') format('truetype');
	font-weight:900;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans B.ttf') format('truetype');
	font-weight:900;
}


@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif T.ttf') format('truetype');
	font-weight:100;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif EL.ttf') format('truetype');
	font-weight:200;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif L.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif.ttf') format('truetype');
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif M.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif SB.ttf') format('truetype');
	font-weight:600;
}


@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif B.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif EB.ttf') format('truetype');
	font-weight:800;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif H.ttf') format('truetype');
	font-weight:900;
}

.theme-A { /* Standard */
--background-image:url("loadbg_dev.png");
--background-color:#ffa500;
--link-color:250,128,114;
--content-bg:#f9fafb;
--content-border:#dddccc;
--content-color:#202020;
--button-color:#663399;
--community-header-bg:255,99,71;
}

.theme-B { /* Standard Gloved */
--background-image:url("headbg.jpg");
--background-color:#39bae6;
--link-color:153,15,153;
--content-bg:#eefcee;
--content-border:#8cb114;
--content-color:#2a2a2a;
--button-color:#7aea32;
--community-header-bg:70,90,190;
}


.theme-C { /* Standard Dark */
--background-image:url("headbg3.jpg");
--background-color:#66144b;
--link-color:0,85,255;
--content-bg:#303030;
--content-border:#bebebe;
--content-color:#f9f9f9;
--button-color:#1f5299;
--community-header-bg:127,95,95;
}


.theme-D { /* Sagent */
--background-image:url("headbg4.jpg");
--background-color:#e95500;
--link-color:148,24,197;
--content-bg:#fdfeff;
--content-border:#eee;
--content-color:#1a2a3a;
--button-color:#FF7E09;
--community-header-bg:255,126,9;
}


:root {
font-family:Trebuchet MS;
scrollbar-color:var(--button-color) var(--background-color);
}


/* Special Hack for Edge and mInerva 6.5 - 7.5 */
body * {
--background-image:inherit;
--background-color:inherit;
--link-color:inherit;
--content-bg:inherit;
--content-border:inherit;
--content-color:inherit;
--button-color:inherit;
--community-header-bg:inherit;
}



main {
overflow:hidden!important;
}

/* Dynamic Variables
 --button-color-blend-light:#18BBC6; 
 --button-color-blend:#149fa8; 
 --button-color-dark:#149fa8; 
 --button-color-text:black; 
 --community-header-bg-blend-light:8,156,166; 
 --community-header-bg-blend:7,133,141; 
 --community-header-dark:7,133,141; 
 --community-header-text:0,0,0; 
 --link-color-blend-light:60,101,101; 
 --link-color-blend:26,74,74; 
 --link-color-dark:60,101,101; 
 --link-color-text:white; 
 --dropdown-bg:white; 
 --content-border: inherit; 
 --content-color: inherit; 
 --content-border-blend-light:#cccddd; 
 --content-border-blend:#adaebc; 
 --content-border-dark:#adaebc; 
 --content-border-text:black; 
 --emphasis-bg:#7d9797; 
 --accent-bg:#69c3d0;
 */
body { 
/*font-family:Source Sans Pro, "Trebuchet MS", "Prompt",  "M PLUS 1p", "Gothic A1", sans-serif;
*/
font-family:"Inter", -apple-system, BlinkMacSystemFont,  "Arial",  "Prompt",  "M PLUS 1p", "Gothic A1", "Cairo", "Catamaran", "Ramabhadra", sans-serif; /* Uses a font stack suitable for High Contrast Mode */
color:var(--content-color);
background-repeat:no-repeat;
background-attachment:local;
background-attachment:fixed;
background-position:center;
background-size:cover;
border-radius:1px; /* mInerva and some other browsers do not render local attachment without this */
overscroll-behavior:none;
position:relative;
text-rendering:optimizeSpeed;
-webkit-font-smoothing:antialised;
-moz-osx-font-smoothing:grayscale;
touch-action:manipulation;
	background-color:var(--content-color);
	overflow-y:auto;
	font-weight:500;
text-shadow:0 0 1px rgba(0,0,0,0.1),0 0 1px rgba(255,255,255,0.1); /* Partially Embolding */
margin:5px 0 0;
/*text-shadow:0 0 1px rgba(255,0,0,0.1), 0 0 1px rgba(0,255,0,0.1), 0 0 1px rgba(0,0,255,0.1), 0 0 1px rgba(255,255,0,0.1), 0 0 1px rgba(255,0,255,0.1), 0 0 1px rgba(0,255,255,0.1), 0 0 1px rgba(0,0,0,0.1), 0 0 1px rgba(255,255,255,0.1); */
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
}


main {
	display:none;
}

.tabs {
	display:flex;
	width:100%;
	color:var(--content-border);
	border-bottom:1px solid;
	padding:0 5px;
	margin:0;
	height:25px;
}

.tabs a {
	display:inline-flex;
	align-items:center;
	justify-content:center;
	color:inherit;
	border:1px solid transparent;
	border-bottom:0;
	margin:0 -1px -1px 0;
	padding:0 10px;
	transition:all 10ms ease 10ms
}
.tabs a:hover {
	background-color:rgba(var(--link-color),0.125);
}

[page*="processes"] .tabs .processes,
[page*="performance"] .tabs .performance,
[page*="user"] .tabs .users,
[page*="details"] .tabs .details {
	background-color:var(--content-color);
	color:var(--content-bg);
	border-color:var(--content-border);
}


[page*="processes"] main.processes,
[page*="performance"] main.performance,
[page*="user"] main.users,
[page*="details"] main.details {
	display:block;
}


.proc_page {
	width:100%;
	color:var(--content-bg);
	height:calc(100vh - 33px);
	display:flex;
}

.proc_page section {
	display:flex;
	flex-direction:column;
	flex:1;
}

.proc_page .header{
	border-bottom:1px solid var(--content-border);
	display:flex;
}

.proc_page span {
	vertical-align:bottom;
	border-right:1px solid var(--content-border);
	font-size:13px;
	font-weight:normal;
	width:60px;
	text-align:right;
	height:40px;
	padding:10px;
	align-items:flex-end;
	display:flex;
}

.proc_page .upper {
	background-color:var(--content-color);
	top:0;
	position:-webkit-sticky;
	position:sticky;
}

.proc_page .upper span {
	display:flex;
	justify-content:flex-end;
	flex-direction:column;
}

.proc_page .upper span:hover,
.proc_page .header.item:hover {
	background-color:rgba(var(--link-color),0.2);
}

.proc_page article {
	flex:1;
	overflow-y:scroll; /* Fallback */
}


.proc_page footer {
	padding:10px;
	display:flex;
	border-top:1px solid var(--content-border);
	align-items:center;
	justify-content:flex-end;
	margin-top:-1px;
}


.proc_page span:last-child{
	border-right-color:transparent;
}

.proc_page .header span counter{
	font-size:19.5px;
	display:block;
	font-weight:500;
}

.proc_page .heading span,
.proc_page .item span {
	height:25px;
	align-items:center;
	justify-content:flex-end;
}


.proc_page h2{
	color:rgb(var(--link-color));
	font-weight:normal;
	margin:0;
}


.details .proc_page span {
	height:25px;
}

.proc_page .name{
	width:auto;
	text-align:left;
	flex:2;
	align-items:flex-start;
}


.proc_page .ucpu {
	width:auto;
	align-items:flex-start;
	text-align:left;
	width:100px;
}

.proc_page header:not(.upper) .name,
.proc_page header:not(.upper) .ucpu{
	justify-content:flex-start;
}

.graphs {
	display:flex;
	width:640px;
	color:var(--content-bg);
	padding:0;
	margin:0 auto;
	height:25px;
}

.graphs a {
	display:inline-flex;
	flex:1;
	align-items:center;
	justify-content:center;
	border:1px solid;
	border-color:var(--content-bg);
	color:inherit;
	border-top:0;
	border-bottom:0;
	margin:0 0 0 -1px;
	transition:all 10ms ease 10ms
}

.graphs a:hover {
	background-color:rgba(var(--link-color),0.25);
}

[tab*="CPU"] .graphs .cpu,
[tab*="MEM"] .graphs .ram,
[tab*="DSK"] .graphs .disk,
[tab*="NET"] .graphs .network,
[tab*="GPU"] .graphs .gpu,
[tab*="TV"]  .graphs .tv {
	background-color:var(--content-bg);
	color:var(--content-color);
}

circle {
	padding:7.7px;
	background-color:white;
	margin:0 3px 0 0;
	border-radius:50%;
	box-shadow:0 0 0 1.5px rgba(0,0,0,0.2) inset;
}

circle[cpu] {
	background-color:yellow;
}

circle[ram] {
	background-color:#9900ff;
}

circle[disk] {
	background-color:lime;
}

circle[network] {
	background-color:orange;
}

circle[gpu] {
	background-color:magenta;
}

circle[tv] {
	background-color:white;
}

.page {
	display:none;
	background-color:var(--content-bg);
	height:calc(100vh - 59px);
	box-sizing:border-box;
	padding:10px;
	margin:0 5px;
}


[tab*="CPU"] .page.cpu,
[tab*="MEM"] .page.ram,
[tab*="DSK"] .page.disk,
[tab*="NET"] .page.network,
[tab*="GPU"] .page.gpu,
[tab*="TV"]  .page.tv {
	display:flex;
}

.page box.left {
	width:264px;
	min-width:264px;
	max-width:50%;
	border-right:1px solid;
	resize:horizontal;
	padding:0 10px;
	box-sizing:border-box;
	overflow-y:auto;
}

.page box.right {
	flex:1;
	display:none;
	flex-flow:column nowrap;
	padding:0 10px;
	overflow-y:auto;
}


.page[page*="0"] box.right.p0,
.page[page*="1"] box.right.p1,
.page[page*="2"] box.right.p2,
.page[page*="3"] box.right.p3 {
	display:flex;
}

.page box.left .button {
	cursor:pointer;
	font-size:13px;
	font-weight:300;
	height:64px;
	padding:5px;
	box-sizing:border-box;
	display:flex;
	margin:0 5px 5px;
	border:1px solid transparent;
}

.page box.left .button > div {
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden
}


.page box.left .button:hover,
.page box.left .button:active {
	border-color:rgb(var(--link-color));
	background-color:rgba(var(--link-color),0.1);
}


.page[page*="0"] box.left .button.p0,
.page[page*="1"] box.left .button.p1,
.page[page*="2"] box.left .button.p2,
.page[page*="3"] box.left .button.p3,
.page box.left .button:hover:active {
	background-color:rgba(var(--link-color),0.2);
	border-color:transparent;
}

.page box .graph {
	color:#7f6000;
	border:1px solid;
}

.page.cpu .g_raph[page*="0"] .heatmap {
	display:none!important;
}

.page.cpu .g_raph[page*="1"] .graph {
	display:none!important;
}


.page.cpu .g_raph .heatmap {
	display:flex;
	flex-wrap:wrap;
	flex:1;
	overflow:auto;
	background-color:black;
	color:white;
	height:100%;
	min-height:26px;
	border:1px solid #7f6000;	
}

.page.cpu .g_raph .heatmap cpu{
	--heatmap-usage:0;
	flex:1;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	font-size:16px;
	font-weight:500;
	min-width:50px;
	background-color:rgba(193,144,0,calc( var(--heatmap-usage) / 100 ));
	border:1px solid #7f6000;
}


.page box.left .button .graph {
	width:64px;
	height:50px;
	margin:0 5px 0 0;
}

.page box.right  .graph {
	min-height:128px;
}

.page.ram .graph {
	color:#20124d;
}

.page.disk .graph {
	color:#274e13;
}

.page.network .graph {
	color:#783f04;
}

.page.gpu .graph {
	color:#4c1130;
}

.page.tv .graph {
	color:#cccccc;
}

.page box.right .header {
	display:flex;
	padding:0 0 5px 0;
	align-items:center;
}

.page box.right h3 {
	flex:1;
	font-size:24px;
	font-weight:400;
	margin:0;
}

.page box.right h1 {
	font-size:50px;
	font-weight:500;
	margin:0;
}

.page box.right .graph {
	flex:1;
	background-color:black;
	width:100%;
}

.page box.right .bottom {
	padding:2px 0;
	box-sizing:border-box;
	display:flex;
	flex-wrap:wrap;
}


.page box.right .bottom .leftp, 
.page box.right .bottom .rightp {
	margin:0 10px 0 0;
}

.page box.right .bottom .leftp .col {
	display:flex;
}

.page box.right .bottom .leftp .info {
	margin:10px 10px 0 0;
	padding-left:10px;
}

.page box.right .bottom .leftp .info span {
	color:var(--content-border-blend);
	font-size:12px;
	display:block;
	white-space:nowrap;
}

.page box.right .bottom .leftp .info em {
	color:var(--content-color);
	font-weight:500;
	display:block;
	font-size:24px;
	font-style:normal;
}

.page box.right .bottom .rightp ul {
	list-style:none;
	padding:0;
	margin:10px 0;
}

.page box.right .bottom .rightp li {
	color:var(--content-border-blend);
	padding-left:0;
}

.page box.right .bottom .rightp li span {
	color:var(--content-color);
}

/* Buttons */
.wds-button {
background-color:#00cdd0;
border-color:#00cdd0;
color:#000;
align-items:center;
border-style:solid;
border-width:1px;
box-sizing:content-box;
cursor:url("Windows/default.cur"), default;
display:inline-flex;
font-size:12px;
font-weight:600;
justify-content:center;
letter-spacing:.15px;
line-height:16px;
margin:0;
min-height:18px;
outline:0;
padding:7px 18px;
text-decoration:none;
text-transform:uppercase;
transition-duration:.3s;
transition-property:background-color,border-color,color;
vertical-align:top;
-webkit-appearance:none;
appearance:none;
border-radius:var(--button-radius, 3px);
background-image:none; /* Supress Gradient set by buttons */
text-shadow:none; /* Disable Embolding caused by the update */
}

.wds-button.wds-is-active,.wds-button:active,.wds-button:focus:not(:disabled),.wds-button:hover:not(:disabled){
background-color:#00686a;
border-color:#00686a;
text-decoration:none;
background-image:none; /* Supress Gradient set by buttons */
}

.wds-button.wds-is-secondary{
background-color:transparent;
border-color:#5f7a7b;
color:#5f7a7b
}
.wds-button.wds-is-secondary.wds-is-active,.wds-button.wds-is-secondary:active,.wds-button.wds-is-secondary:focus:not(:disabled),.wds-button.wds-is-secondary:hover:not(:disabled){
background-color:transparent;
border-color:#94abac;
color:#94abac;
}
.wds-button.wds-is-text{
background-color:transparent;
color:#5f7a7b;
border:0
}


.wds-button.wds-is-text.wds-is-active,.wds-button.wds-is-text:active,.wds-button.wds-is-text:focus:not(:disabled),.wds-button.wds-is-text:hover:not(:disabled){
background-color:transparent;
color:#94abac}

.wds-button.wds-is-secondary.wds-is-light, .wds-button.wds-is-text.wds-is-light {
	filter:invert(1) hue-rotate(180deg);
}


.wds-button.ui-button {
	font-size:11px;
	padding:5px 12px;
}

a.wds-button,button.wds-button{
cursor:url("Windows/hand.cur"),pointer
}
.wds-button:disabled{
cursor:url("Windows/default.cur"), default;

opacity:.5;
pointer-events:none}

/*
.wds-button.wds-is-squished{
font-size:10px;
padding:7px 12px;
}

.wds-button.wds-is-squished .wds-dropdown__toggle {
height:13px
}


.wds-button.wds-is-stretched{
padding:28px 18px 27px
}
*/

.wds-button.wds-is-full-width{
display:flex
}

.wds-button.wds-is-square{
height:36px;
min-width:36px;
width:36px;
align-items:center;
display:inline-flex;
justify-content:center;
padding:0
}

.wds-button.wds-is-square.color-button {
	border-radius:50%;
	padding:3px;
}

.wds-button .wds-icon {
align-self:center;
pointer-events:none}

.wds-button .wds-icon:first-child:not(:only-child){
margin-right:6px;
}

.wds-button .wds-icon:not(:first-child):not(:last-child):not(:only-child) {
margin-right:6px;
margin-left:6px;
}

.wds-button .wds-icon:last-child:not(:only-child) {
margin-left:6px;
}


.wds-button .wds-list{
color:#1a1a1a;
font-weight:400;
letter-spacing:normal;
text-transform:none;
text-align:left
}

.wds-button .wds-dropdown__content{
top:calc(100% + 1px)
}

.main .wds-button {
background-color:var(--button-color);
border-color:var(--button-color);
color:var(--button-color-text);
}

.main .wds-button:hover, .main .wds-button:active, .main .wds-button:focus, .main .wds-button.wds-is-active {
background-color:var(--button-color-dark);
border-color:var(--button-color-dark);
}

.main .wds-button.wds-is-secondary {
color:var(--button-color);
border-color:var(--button-color);
background:none;
}

.main .wds-button.wds-is-secondary:hover, .main .wds-button.wds-is-secondary:active, .main .main .wds-button.wds-is-secondary:focus, .main .wds-button.wds-is-secondary.wds-is-active {
color:var(--button-color-dark);
border-color:var(--button-color-dark);
background:none;
}

.main .wds-button.wds-is-text {
color:var(--button-color);
border:0;
background:none;
}

.main .wds-button  .wds-list {
color:var(--content-color);
}

.main .wds-button.wds-is-text:hover, .main .wds-button.wds-is-text:active, .main .main .wds-button.wds-is-text:focus, .main .wds-button.wds-is-text.wds-is-active {
color:var(--button-color-dark);
border:0;
background:none;
}

/* Link Color */

.main .wds-button.wds-is-alternate {
background-color:rgb(var(--link-color));
border-color:rgb(var(--link-color));
color:var(--link-color-text);
}

.main .wds-button.wds-is-alternate:hover, .main .wds-button.wds-is-alternate:active, .main .wds-button.wds-is-alternate:focus, .main .wds-button.wds-is-alternate.wds-is-active {
background-color:rgb(var(--link-color-dark));
border-color:rgb(var(--link-color-dark));
}

.main .wds-button.wds-is-alternate.wds-is-secondary {
color:rgb(var(--link-color));
border-color:rgb(var(--link-color));
background:none;
}

.main .wds-button.wds-is-alternate.wds-is-secondary:hover, .main .wds-button.wds-is-alternate.wds-is-secondary:active, .main .main .wds-button.wds-is-alternate.wds-is-secondary:focus, .main .wds-button.wds-is-alternate.wds-is-secondary.wds-is-active {
color:rgb(var(--link-color-dark));
border-color:rgb(var(--link-color-dark));
background:none;
}

.main .wds-button.wds-is-alternate.wds-is-text {
color:rgb(var(--link-color));
border:0;
background:none;
}


.main .wds-button.wds-is-alternate.wds-is-text:hover, .main .wds-button.wds-is-alternate.wds-is-text:active, .main .main .wds-button.wds-is-alternate.wds-is-text:focus, .main .wds-button.wds-is-alternate.wds-is-text.wds-is-active {
color:rgb(var(--link-color-dark));
border:0;
background:none;
}

/* Border Color */
.main .wds-button.wds-is-borderline {
background-color:var(--content-border);
border-color:var(--content-border);
color:var(--content-border-text);
}

.main .wds-button.wds-is-borderline:hover, .main .wds-button.wds-is-borderline:active, .main .wds-button.wds-is-borderline:focus, .main .wds-button.wds-is-borderline.wds-is-active {
background-color:var(--content-border-dark);
border-color:var(--content-border-dark);
}

.main .wds-button.wds-is-borderline.wds-is-secondary {
color:var(--content-border);
border-color:var(--content-border);
background:none;
}

.main .wds-button.wds-is-borderline.wds-is-secondary:hover, .main .wds-button.wds-is-borderline.wds-is-secondary:active, .main .main .wds-button.wds-is-borderline.wds-is-secondary:focus, .main .wds-button.wds-is-borderline.wds-is-secondary.wds-is-active {
color:var(--content-border-dark);
border-color:var(--content-border-dark);
background:none;
}

.main .wds-button.wds-is-borderline.wds-is-text {
color:var(--content-border);
border:0;
background:none;
}


.main .wds-button.wds-is-borderline.wds-is-text:hover, .main .wds-button.wds-is-borderline.wds-is-text:active, .main .main .wds-button.wds-is-borderline.wds-is-text:focus, .main .wds-button.wds-is-borderline.wds-is-text.wds-is-active {
color:var(--content-border-dark);
border:0;
background:none;
}

/* Background Color */
.main .wds-button.wds-is-headline {
background-color:var(--background-color);
border-color:var(--background-color);
color:var(--background-color-text);
}

.main .wds-button.wds-is-headline:hover, .main .wds-button.wds-is-headline:active, .main .wds-button.wds-is-headline:focus, .main .wds-button.wds-is-headline.wds-is-active {
background-color:var(--background-color-dark);
border-color:var(--background-color-dark);
}

.main .wds-button.wds-is-headline.wds-is-secondary {
color:var(--background-color);
border-color:var(--background-color);
background:none;
}

.main .wds-button.wds-is-headline.wds-is-secondary:hover, .main .wds-button.wds-is-headline.wds-is-secondary:active, .main .main .wds-button.wds-is-headline.wds-is-secondary:focus, .main .wds-button.wds-is-headline.wds-is-secondary.wds-is-active {
color:var(--background-color-dark);
border-color:var(--background-color-dark);
background:none;
}

.main .wds-button.wds-is-headline.wds-is-text {
color:var(--background-color);
border:0;
background:none;
}


.main .wds-button.wds-is-headline.wds-is-text:hover, .main .wds-button.wds-is-headline.wds-is-text:active, .main .main .wds-button.wds-is-headline.wds-is-text:focus, .main .wds-button.wds-is-headline.wds-is-text.wds-is-active {
color:var(--background-color-dark);
border:0;
background:none;
}

