.theme-A { /* Standard */
--background-image:url("loadbg_dev.png");
--background-color:#ffa500;
--link-color:250,128,114;
--content-bg:#f9fafb;
--content-border:#dddccc;
--content-color:#202020;
--button-color:#663399;
--community-header-bg:255,99,71;
}

.theme-B { /* Standard Gloved */
--background-image:url("headbg.jpg");
--background-color:#39bae6;
--link-color:153,15,153;
--content-bg:#eefcee;
--content-border:#8cb114;
--content-color:#2a2a2a;
--button-color:#7aea32;
--community-header-bg:70,90,190;
}


.theme-C { /* Standard Dark */
--background-image:url("headbg3.jpg");
--background-color:#66144b;
--link-color:0,85,255;
--content-bg:#303030;
--content-border:#bebebe;
--content-color:#f9f9f9;
--button-color:#1f5299;
--community-header-bg:127,95,95;
}


.theme-D { /* Sagent */
--background-image:url("headbg4.jpg");
--background-color:#e95500;
--link-color:148,24,197;
--content-bg:#fdfeff;
--content-border:#eee;
--content-color:#1a2a3a;
--button-color:#FF7E09;
--community-header-bg:255,126,9;
}




/* Special Hack for Edge and mInerva 6.5 - 7.5 */
body * {
--background-image:inherit;
--background-color:inherit;
--link-color:inherit;
--content-bg:inherit;
--content-border:inherit;
--content-color:inherit;
--button-color:inherit;
--community-header-bg:inherit;
}



main {
overflow:hidden!important;
}

button {
	font-family:inherit
}

/* Dynamic Variables
 --button-color-blend-light:#18BBC6; 
 --button-color-blend:#149fa8; 
 --button-color-dark:#149fa8; 
 --button-color-text:black; 
 --community-header-bg-blend-light:8,156,166; 
 --community-header-bg-blend:7,133,141; 
 --community-header-dark:7,133,141; 
 --community-header-text:0,0,0; 
 --link-color-blend-light:60,101,101; 
 --link-color-blend:26,74,74; 
 --link-color-dark:60,101,101; 
 --link-color-text:white; 
 --dropdown-bg:white; 
 --content-border: inherit; 
 --content-color: inherit; 
 --content-border-blend-light:#cccddd; 
 --content-border-blend:#adaebc; 
 --content-border-dark:#adaebc; 
 --content-border-text:black; 
 --emphasis-bg:#7d9797; 
 --accent-bg:#69c3d0;
 */
body { 
font-family:"Inter", -apple-system, BlinkMacSystemFont, "Nanum Gothic", "M PLUS 1p", "Prompt", "Cairo", "Ramabhadra", "Catamaran", "Noto Sans", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Hind Siliguri", "M PLUS Rounded 1c", sans-serif; /* Uses a font stack suitable for High Contrast Mode */
color:var(--content-color);
background-repeat:no-repeat;
background-attachment:local;
background-attachment:fixed;
background-position:center;
background-size:cover;
border-radius:1px; /* mInerva and some other browsers do not render local attachment without this */
overscroll-behavior:none;
position:relative;
text-rendering:optimizeSpeed;
-webkit-font-smoothing:antialised;
-moz-osx-font-smoothing:grayscale;
touch-action:manipulation;
	background-color:var(--content-color);
	overflow-y:auto;
	font-weight:500;
text-shadow:0 0 1px rgba(0,0,0,0.1),0 0 1px rgba(255,255,255,0.1); /* Partially Embolding */
margin:5px 0 0;
/*text-shadow:0 0 1px rgba(255,0,0,0.1), 0 0 1px rgba(0,255,0,0.1), 0 0 1px rgba(0,0,255,0.1), 0 0 1px rgba(255,255,0,0.1), 0 0 1px rgba(255,0,255,0.1), 0 0 1px rgba(0,255,255,0.1), 0 0 1px rgba(0,0,0,0.1), 0 0 1px rgba(255,255,255,0.1); */
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
}


main {
	display:none;
}

.tabs {
	display:flex;
	width:100%;
	color:var(--content-border);
	border-bottom:1px solid;
	padding:0 5px;
	margin:0;
	height:25px;
}

.tabs a {
	display:inline-flex;
	align-items:center;
	justify-content:center;
	color:inherit;
	border:1px solid transparent;
	border-bottom:0;
	margin:0 -1px -1px 0;
	padding:0 10px;
	transition:all 10ms ease 10ms;
	color:inherit;
}
.tabs a:hover {
	background-color:rgba(var(--link-color),0.125);
}

[page*="processes"] .tabs .processes,
[page*="performance"] .tabs .performance,
[page*="user"] .tabs .users,
[page*="details"] .tabs .details {
	background-color:var(--content-color);
	color:var(--content-bg);
	border-color:var(--content-border);
}


[page*="processes"] main.processes,
[page*="performance"] main.performance,
[page*="user"] main.users,
[page*="details"] main.details {
	display:block;
}


.proc_page {
	width:100%;
	color:var(--content-bg);
	height:calc(100vh - 33px);
	display:flex;
}

.proc_page section {
	display:flex;
	flex-direction:column;
	flex:1;
}

.proc_page .header{
	border-bottom:1px solid var(--content-border);
	display:flex;
}

.proc_page span {
	vertical-align:bottom;
	border-right:1px solid var(--content-border);
	font-size:13px;
	font-weight:normal;
	width:60px;
	text-align:right;
	height:40px;
	padding:10px;
	align-items:flex-end;
	display:flex;
}

.proc_page .upper {
	background-color:var(--content-color);
	top:0;
	position:-webkit-sticky;
	position:sticky;
}

.proc_page .upper span {
	display:flex;
	justify-content:flex-end;
	flex-direction:column;
}

.proc_page .upper span:hover,
.proc_page .header.item:hover {
	background-color:rgba(var(--link-color),0.2);
}

.proc_page article {
	flex:1;
	overflow-y:scroll; /* Fallback */
	scrollbar-color:var(--content-border) var(--content-color);
	/* Width */
	--scrollbar-width:17px;
	/* Track */
	--scrollbar-track-color-1:var(--content-color);
	--scrollbar-track-color-2:var(--content-color-dark);
	--scrollbar-track-color-3:var(--content-color-dark-super);
	--scrollbar-track-text:var(--content-bg);
	/* Thumb */
	--scrollbar-thumb-color-1:var(--content-border);
	--scrollbar-thumb-color-2:var(--content-border-dark);
	--scrollbar-thumb-color-3:var(--content-border-dark-super);
	--scrollbar-thumb-text:var(--content-color);

}


.proc_page footer {
	padding:10px;
	display:flex;
	border-top:1px solid var(--content-border);
	align-items:center;
	justify-content:flex-end;
	margin-top:-1px;
}


.proc_page span:last-child{
	border-right-color:transparent;
}

.proc_page .header span counter{
	font-size:19.5px;
	display:block;
	font-weight:500;
}

.proc_page .heading span,
.proc_page .item span {
	height:25px;
	align-items:center;
	justify-content:flex-end;
}


.proc_page h2{
	color:rgb(var(--link-color));
	font-weight:normal;
	margin:0;
}


.details .proc_page span {
	height:25px;
}

.proc_page .name{
	width:auto;
	text-align:left;
	flex:2;
	align-items:flex-start;
}


.proc_page .ucpu {
	width:auto;
	align-items:flex-start;
	text-align:left;
	width:100px;
}

.proc_page header:not(.upper) .name,
.proc_page header:not(.upper) .ucpu{
	justify-content:flex-start;
}

.graphs {
	display:flex;
	width:640px;
	color:var(--content-bg);
	padding:0;
	margin:0 auto;
	height:25px;
}

.graphs a {
	display:inline-flex;
	flex:1;
	align-items:center;
	justify-content:center;
	border:1px solid;
	border-color:var(--content-bg);
	color:inherit;
	border-top:0;
	border-bottom:0;
	margin:0 0 0 -1px;
	transition:all 10ms ease 10ms
}

.graphs a:hover {
	background-color:rgba(var(--link-color),0.25);
}

[tab*="CPU"] .graphs .cpu,
[tab*="MEM"] .graphs .ram,
[tab*="DSK"] .graphs .disk,
[tab*="NET"] .graphs .network,
[tab*="GPU"] .graphs .gpu,
[tab*="TV"]  .graphs .tv {
	background-color:var(--content-bg);
	color:var(--content-color);
}

circle {
	padding:7.7px;
	background-color:white;
	margin:0 3px 0 0;
	border-radius:50%;
	box-shadow:0 0 0 1.5px rgba(0,0,0,0.2) inset;
}

circle[cpu] {
	background-color:yellow;
}

circle[ram] {
	background-color:#9900ff;
}

circle[disk] {
	background-color:lime;
}

circle[network] {
	background-color:orange;
}

circle[gpu] {
	background-color:magenta;
}

circle[tv] {
	background-color:white;
}

.page {
	display:none;
	background-color:var(--content-bg);
	height:calc(100vh - 59px);
	box-sizing:border-box;
	padding:10px;
	margin:0 5px;
}


[tab*="CPU"] .page.cpu,
[tab*="MEM"] .page.ram,
[tab*="DSK"] .page.disk,
[tab*="NET"] .page.network,
[tab*="GPU"] .page.gpu,
[tab*="TV"]  .page.tv {
	display:flex;
}

.page box.left {
	width:274px;
	min-width:274px;
	max-width:50%;
	border-right:1px solid;
	resize:horizontal;
	padding:0 5px 0 0;
	box-sizing:border-box;
	overflow-y:auto;
}

.page box.right {
	flex:1;
	display:none;
	flex-flow:column nowrap;
	padding:0 10px 0 15px;
	overflow-y:auto;
}


.page[page*="0"] box.right.p0,
.page[page*="1"] box.right.p1,
.page[page*="2"] box.right.p2,
.page[page*="3"] box.right.p3 {
	display:flex;
}

.page box.left .button {
	cursor:var(--cpe-hand-cursor);
	font-size:13px;
	font-weight:300;
	height:78px;
	padding:5px;
	box-sizing:border-box;
	display:flex;
	margin:0 0px 5px;
	border:1px solid transparent;
	color:inherit;
}

.page box.left .button > div {
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden
}


.page box.left .button:hover,
.page box.left .button:active {
	border-color:rgb(var(--link-color));
	background-color:rgba(var(--link-color),0.1);
}


.page[page*="0"] box.left .button.p0,
.page[page*="1"] box.left .button.p1,
.page[page*="2"] box.left .button.p2,
.page[page*="3"] box.left .button.p3,
.page box.left .button:hover:active {
	background-color:rgba(var(--link-color),0.2);
	border-color:transparent;
}

.page box .graph {
	color:#7f6000;
	border:1px solid;
}

.page box .g_raph {
  	display:contents;
	flex:1;
}

/*
T   = Temperature	  (Page 1 or 2)
AT  = Utilization	  (Page 1)
F   = Frequency 	  (Page 2)
MEM = Discrete Memory (Page 3)
PCR = PerfCap Reason  (Page 4)
*/

.page.cpu .g_raph:not([page*="1"]) .heatmap,
.page.cpu .g_raph:not([page*="1"]) .heatmaps,
.page .g_raph:not([page*="0"]) .graph:not([class*="graphT"]):not([class*="graphAT"]):not([class*="graphF"]):not([class*="graphMEM"]):not([class*="graphPCR"]),
.page.cpu .g_raph:not([page*="2"]) .graphT,
.page.gpu .g_raph:not([page*="1"]) .graphT,
.page.disk .g_raph:not([page*="1"]) .graphAT, 
.page.tv .g_raph:not([page*="1"]) .graphAT, 
.page.network .g_raph:not([page*="1"]) .graphAT, 
.page.cpu .g_raph:not([page*="3"]) .graphF, 
.page.gpu .g_raph:not([page*="3"]) .graphF, 
.page.tv .g_raph:not([page*="3"]) .graphF, 
.page.gpu .g_raph:not([page*="2"]) .graphMEM,
.page.tv .g_raph:not([page*="2"]) .graphMEM,
.page.tv .g_raph:not([page*="4"]) .graphPCR  {
	display:none!important;
}

.page.cpu .g_raph .heatmaps {
	display:grid;
	height:100%;
}

.page.cpu .g_raph .heatmaps[more] {
	grid-gap:4px;
	gap:4px;
	grid:auto-flow / repeat(2, 1fr);
}


.page.cpu .g_raph .heatmap {
	display:flex;
	display:grid;
	flex-wrap:wrap;
	grid:auto-flow / repeat(var(--heatmap-rows, 2), 1fr);
	flex:1;
	overflow:auto;
	background-color:black;
	color:white;
	height:100%;
	min-height:26px;
	border:1px solid #7f6000;
	width:100%;
}

.page.cpu .g_raph .heatmap cpu{
	--heatmap-usage:0%;
	--kernel-usage:0%;
	flex:1;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	font-size:16px;
	font-weight:500;
	min-width:50px;
/*	background-color:rgba(193,144,0,calc( var(--heatmap-usage) / 100 )); */
	border:1px solid #7f6000;
	position:relative;
	z-index:1;
}

.page.cpu .g_raph .heatmap cpu::after{
	background-color:rgba(193,144,0,0.25);
	width:100%;
	content:"";
	display:block;
	bottom:0;
	left:0;
	height:var(--heatmap-usage);
	z-index:-1;
	position:absolute;
}

.page.cpu .g_raph .heatmap cpu::before{
	background-color:rgba(255,255,0,0.25);
	width:100%;
	content:"";
	display:block;
	bottom:0;
	left:0;
	height:var(--kernel-usage);
	z-index:-1;
	position:absolute;
}


.page box.left .button .graph {
	width:78px;
	height:64px;
	margin:0 5px 0 0;
}

.page box.right  .graph {
	min-height:128px;
}

.page.ram .graph {
	color:#20124d;
}

.page.disk .graph {
	color:#274e13;
}

.page.network .graph {
	color:#783f04;
}

.page.gpu .graph {
	color:#4c1130;
}

.page.tv .graph {
	color:#cccccc;
}

.page box.right .header {
	display:flex;
	padding:0 0 5px 0;
	align-items:center;
}

.page box.right h3 {
	flex:1;
	font-size:24px;
	font-weight:400;
	margin:0;
}

.page box.right h1 {
	font-size:50px;
	font-weight:500;
	margin:0;
}

.page box.right .graph {
	flex:1;
	background-color:black;
	width:100%;
	height:100%;
}

.page box.right .graph.graphPCR {
	background-color:#b7b7b7;
}

.page box.right .bottom {
	padding:2px 0;
	box-sizing:border-box;
	display:flex;
	flex-wrap:wrap;
}


.page box.right .bottom .leftp, 
.page box.right .bottom .rightp {
	margin:0 10px 0 0;
}

.page box.right .bottom .leftp .col {
	display:flex;
}

.page box.right .bottom .leftp .info {
	margin:10px 10px 0 0;
	padding-left:10px;
}

.page box.right .bottom .leftp .info span {
	color:var(--content-border-blend);
	font-size:12px;
	display:block;
	white-space:nowrap;
}

.page box.right .bottom .leftp .info em {
	color:var(--content-color);
	font-weight:500;
	display:block;
	font-size:24px;
	font-style:normal;
}

.page box.right .bottom .rightp ul {
	list-style:none;
	padding:0;
	margin:10px 0;
}

.page box.right .bottom .rightp li {
	color:var(--content-border-blend);
	padding-left:0;
}

.page box.right .bottom .rightp li span {
	color:var(--content-color);
}
