.theme-A.colorscheme-light.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#ffcba4;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#2d383a;
  --canvas-background-color:#ffffff;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#c8c8cd;
  --active-text-background-color:#c62d42;
  --canvas-text-background-color:#2d383a;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#93ccea;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#1560bd;
  --visited-hyperlink-background-color:#733380;
  --active-title-background-color:#00755e;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#01786f;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-B.colorscheme-light.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#ffcba4;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#2d383a;
  --canvas-background-color:#eed9c4;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#c88a65;
  --active-text-background-color:#3f26bf;
  --canvas-text-background-color:#2d383a;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#ff8833;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#664228;
  --visited-hyperlink-background-color:#cc474b;
  --active-title-background-color:#fe6f5e;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#ff7034;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-C.colorscheme-light.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#fbe7b2;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#614051;
  --canvas-background-color:#ffffff;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#8b8680;
  --active-text-background-color:#cc553d;
  --canvas-text-background-color:#614051;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#6456b7;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#7070cc;
  --visited-hyperlink-background-color:#2887c8;
  --active-title-background-color:#0066ff;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#4570e6;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-D.colorscheme-light.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#fbe7b2;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#614051;
  --canvas-background-color:#eed9c4;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#8d90a1;
  --active-text-background-color:#665233;
  --canvas-text-background-color:#614051;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#664228;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#003366;
  --visited-hyperlink-background-color:#732e6c;
  --active-title-background-color:#926f5b;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#c88a65;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-E.colorscheme-light.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#ffbf99;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#474646;
  --canvas-background-color:#ffffff;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#a5b5c6;
  --active-text-background-color:#dd360a;
  --canvas-text-background-color:#474646;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#6699ff;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#006cb0;
  --visited-hyperlink-background-color:#6f017b;
  --active-title-background-color:#337800;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#53835d;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-F.colorscheme-light.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#ffbf99;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#474646;
  --canvas-background-color:#f7e1d4;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#6b93b1;
  --active-text-background-color:#6f017b;
  --canvas-text-background-color:#474646;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#d09632;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#a34112;
  --visited-hyperlink-background-color:#f14800;
  --active-title-background-color:#dd4702;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#ffbf99;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-G.colorscheme-light.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#f9ebc3;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#4a4612;
  --canvas-background-color:#ffffff;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#a5b5c5;
  --active-text-background-color:#dd3509;
  --canvas-text-background-color:#4a4612;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#a301b4;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#7f6f9f;
  --visited-hyperlink-background-color:#006cb0;
  --active-title-background-color:#0148c2;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#6b93b1;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-H.colorscheme-light.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#f9ebc3;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#4a4612;
  --canvas-background-color:#f7e1d4;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#808080;
  --active-text-background-color:#a34112;
  --canvas-text-background-color:#4a4612;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#7b3b0a;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#0148c2;
  --visited-hyperlink-background-color:#a301b4;
  --active-title-background-color:#846d35;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#d5a593;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-A.colorscheme-dark.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#af593e;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#eed9c4;
  --canvas-background-color:#000000;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#614051;
  --active-text-background-color:#fc80a5;
  --canvas-text-background-color:#eed9c4;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#1560bd;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#95e0e8;
  --visited-hyperlink-background-color:#e29cd2;
  --active-title-background-color:#7ba05b;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#63b76c;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-B.colorscheme-dark.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#af593e;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#eed9c4;
  --canvas-background-color:#2d383a;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#8b8680;
  --active-text-background-color:#c9a0dc;
  --canvas-text-background-color:#eed9c4;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#664228;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#ff8833;
  --visited-hyperlink-background-color:#e8836e;
  --active-title-background-color:#b33b24;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#d982b5;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-C.colorscheme-dark.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#805533;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#fdd5b1;
  --canvas-background-color:#000000;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#736a62;
  --active-text-background-color:#ffb97b;
  --canvas-text-background-color:#fdd5b1;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#7070cc;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#6456b7;
  --visited-hyperlink-background-color:#8dd9cc;
  --active-title-background-color:#1560bd;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#0066cc;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-D.colorscheme-dark.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#805533;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#fdd5b1;
  --canvas-background-color:#2d383a;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#926f5b;
  --active-text-background-color:#ffb7d5;
  --canvas-text-background-color:#fdd5b1;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#000000;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#c88a65;
  --visited-hyperlink-background-color:#f1e788;
  --active-title-background-color:#7070cc;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#9999cc;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-E.colorscheme-dark.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#7b3b0a;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#f9ecc3;
  --canvas-background-color:#000000;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#7a0146;
  --active-text-background-color:#f14700;
  --canvas-text-background-color:#f9ecc3;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#006cb0;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#6699ff;
  --visited-hyperlink-background-color:#dfbddd;
  --active-title-background-color:#c3d167;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#337700;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-F.colorscheme-dark.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#7b3b0a;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#f9ecc3;
  --canvas-background-color:#2d2b17;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#3a5766;
  --active-text-background-color:#dfbddd;
  --canvas-text-background-color:#f9ecc3;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#ba3800;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#d09632;
  --visited-hyperlink-background-color:#ffbf99;
  --active-title-background-color:#a34112;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#6d0d00;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-G.colorscheme-dark.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#611e03;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#ffbf99;
  --canvas-background-color:#000000;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#786c42;
  --active-text-background-color:#fec356;
  --canvas-text-background-color:#ffbf99;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#7f6f9f;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#d335f7;
  --visited-hyperlink-background-color:#c3d167;
  --active-title-background-color:#006cb0;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#0148c2;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}

.theme-H.colorscheme-dark.visualcolors-standard {
  --desktop-background-image:"none";
  --desktop-background-image-filter:opacity(100%);
  --desktop-background-image-blend-mode:normal;
  --desktop-background-color:#611e03;
  --desktop-background-size:cover;
  --desktop-background-horizontal-alignment:left;
  --desktop-background-vertical-alignment:top;
  --desktop-background-no-horizontal-tiling:false;
  --desktop-background-no-vertical-tiling:false;
  --desktop-text-background-color:#ffbf99;
  --canvas-background-color:#2d2b17;
  --canvas-secondary-background-color:auto;
  --inactive-text-background-color:#d09632;
  --active-text-background-color:#d335f7;
  --canvas-text-background-color:#ffbf99;
  --canvas-text-secondary-background-color:auto;
  --highlight-background-color:#cebe8a;
  --highlight-text-background-color:auto;
  --hyperlink-background-color:#836d35;
  --visited-hyperlink-background-color:#fce300;
  --active-title-background-color:#dfbddd;
  --active-title-text-background-color:auto;
  --inactive-title-background-color:#7f6f9f;
  --inactive-title-text-background-color:auto;
  --custom-sans-serif-font:"<Roboto Flex>";
  --custom-rounded-font:"<Rubik>";
  --custom-monospace-font:"<Inconsolata>";
  --border-radius:5px;
  --icon-filter:opacity(1);
  --icon-filter-hover:opacity(0.8);
  --icon-filter-duration:300ms;
  --icon-filter-delay:0ms;
  --system-acryllic-opacity:0.6;
  --system-generic-color-hue-shift:0;
  --system-generic-color-saturation:100%;
}




main {
overflow:hidden!important;
}

button {
	font-family:inherit
}

body { 
/*font-family:"Inter", -apple-system, BlinkMacSystemFont, "Nanum Gothic", "M PLUS 1p", "Prompt", "Cairo", "Ramabhadra", "Catamaran", "Noto Sans", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Hind Siliguri", "M PLUS Rounded 1c", sans-serif; /* Uses a font stack suitable for High Contrast Mode */
background-repeat:no-repeat;
background-attachment:local;
background-attachment:fixed;
background-position:center;
background-size:cover;
background-image:none;
border-radius:1px; /* mInerva and some other browsers do not render local attachment without this */
overscroll-behavior:none;
position:relative;
text-rendering:optimizeSpeed;
-webkit-font-smoothing:antialised;
-moz-osx-font-smoothing:grayscale;
touch-action:manipulation;
	overflow-y:auto;
	font-weight:500;
/*text-shadow:0 0 1px rgba(0,0,0,0.1),0 0 1px rgba(255,255,255,0.1);*/ /* Partially Embolding */
margin:0 0 0;
/*text-shadow:0 0 1px rgba(255,0,0,0.1), 0 0 1px rgba(0,255,0,0.1), 0 0 1px rgba(0,0,255,0.1), 0 0 1px rgba(255,255,0,0.1), 0 0 1px rgba(255,0,255,0.1), 0 0 1px rgba(0,255,255,0.1), 0 0 1px rgba(0,0,0,0.1), 0 0 1px rgba(255,255,255,0.1); */
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
}



body {
--graphs-opacity:0.25;
--page-opacity:0.85;
--cpu-graph-color:var(--graph-1-background-color);
--cpu-graph-color-hover:var(--graph-1-background-color-hover);
--ram-graph-color:var(--graph-2-background-color);
--ram-graph-color-hover:var(--graph-2-background-color-hover);
--disk-graph-color:var(--graph-3-background-color);
--disk-graph-color-hover:var(--graph-3-background-color-hover);
--network-graph-color:var(--graph-4-background-color);
--network-graph-color-hover:var(--graph-4-background-color-hover);
--gpu-graph-color:var(--graph-5-background-color);
--gpu-graph-color-hover:var(--graph-5-background-color-hover);
--cpu-graph-color-rgb:var(--graph-1-background-color-rgb);
--cpu-graph-color-hover-rgb:var(--graph-1-background-color-hover-rgb);
--ram-graph-color-rgb:var(--graph-2-background-color-rgb);
--ram-graph-color-hover-rgb:var(--graph-2-background-color-hover-rgb);
--disk-graph-color-rgb:var(--graph-3-background-color-rgb);
--disk-graph-color-hover-rgb:var(--graph-3-background-color-hover-rgb);
--network-graph-color-rgb:var(--graph-4-background-color-rgb);
--network-graph-color-hover-rgb:var(--graph-4-background-color-hover-rgb);
--gpu-graph-color-rgb:var(--graph-5-background-color-rgb);
--gpu-graph-color-hover-rgb:var(--graph-5-background-color-hover-rgb);
}

.theme-fandomdesktop-dark body {
--graphs-opacity:0.3;
}

.desktop-background {
	display:none;
}

 .desktop-overlay {
	top:0;
	width:100%;
	height:100%;
	position:fixed!Important;
	display:block;
	content:"";
	z-index:-2;
	background-color:var(--mica-background-color);
	pointer-events:none;
}


container { 
color:var(--canvas-text-secondary-background-color);
display:contents;
}

main {
	display:none;
	border-top:1px solid var(--inactive-text-background-color);
	border-left:1px solid var(--inactive-text-background-color);
	position:relative;
	flex-direction:column;
}

.tabs {
	display:flex;
	height:100vh;
	height:100dvh;
	width:232px;
	flex-flow:column;
	color:rgba(var(--canvas-text-secondary-background-color-rgb),1);
	padding:5px;
	margin:0;
	position:relative;
	box-sizing:border-box;
}

.tabs .items {
	overflow-y:auto;
  scrollbar-width:none;
  scrollbar-color:var(--scrollbar-thumb-color-1) var(--scrollbar-track-color-1);
 /** Scrollbar Styling **/
	/* Width */
	--scrollbar-width:0px;
	/* Track */
	--scrollbar-track-color-1:transparent;
	--scrollbar-track-color-2:transparent;
	--scrollbar-track-text:transparent;
	/* Thumb */
	--scrollbar-thumb-color-1:var(--inactive-text-background-color);
	--scrollbar-thumb-color-2:var(--inactive-text-background-color-hover);
	--scrollbar-thumb-text:var(--inactive-text-foreground-color);
}

.graphs-with-page {
	display:flex;
	width:100%;
	height:100%;
    position:relative;
    overflow-x:auto;
    flex-direction:column;
}


/* Navigation Pane */
.tabs-with-page { 
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: min-content minmax(0,1fr);
    grid-template-rows: max-content;
    background: var(--mica-background-color);
    z-index: 1;
    position: relative;
}


.tabs a {
	display:inline-flex;
	align-items:center;
	justify-content:flex-start;
	color:inherit;
	border:1px solid transparent;
	padding:10px;
	transition:color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
	color:inherit;
	border-radius:var(--border-radius);
	text-decoration:none;
	box-sizing:border-box;
	width:100%;
}

.tabs a:hover {
	background-color:rgba(var(--canvas-text-secondary-background-color-rgb),0.2);
	border-color:rgba(var(--canvas-text-secondary-background-color-rgb),0.1);
	color:var(--canvas-text-secondary-background-color-hover);
    box-shadow:var(--threeD-shadow);
}

.tabs a:active {
    box-shadow:var(--threeD-shadow-active);
}

[page*="processes"] .tabs .processes,
[page*="performance"] .tabs .performance,
[page*="history"] .tabs .history,
[page*="startup"] .tabs .startup,
[page*="user"] .tabs .users,
[page*="details"] .tabs .details,
[page*="settings"] .tabs .settings,
.tabs .cpe-dropdown:focus > a,
.tabs .cpe-dropdown:focus-within > a {
	background-color:rgba(var(--hyperlink-secondary-background-color-rgb),0.4);
	border-color:rgba(var(--hyperlink-secondary-background-color-rgb),0.2);
	color:var(--hyperlink-secondary-background-color);
	font-variation-settings: 'FILL' 1;
    box-shadow:var(--threeD-shadow-active);
}

.tabs :before {
	--icon-scale:1.25;
}

.tabs .search:before {
	content:"search";
}

.tabs .processes:before {
	content:"dashboard";
}

.tabs .performance:before {
	content:"earthquake";
}

.tabs .history:before {
	content:"history";
}

.tabs .startup:before {
	content:"speed";
}

.tabs .users:before {
	content:"group";
}

.tabs .details:before {
	content:"format_list_bulleted";
}

.tabs .settings:before {
	content:"settings";
}


.tabs .separator {
	flex:1;
}

.tabs hr {
	border:1px solid;
	width:100%;
}

.pageheader-search {
font-size:0!important;
}

.constructor .pageheader-search {
	display:none!important;
}

.pageheader-search .cpe-input {
width:200px;
border-radius:500px;
border-bottom-right-radius:0;
border-top-right-radius:0;
margin-right:3px;
}

.pageheader-search .cpe-button {
border-radius:500px;
border-bottom-left-radius:0;
border-top-left-radius:0;
vertical-align:middle;
margin-left:1px;
line-height:16px;
}

/* Main Content */
[page*="processes"] main.processes,
[page*="performance"] main.performance,
[page*="history"] main.history,
[page*="startup"] main.startup,
[page*="user"] main.users,
[page*="details"] main.details,
[page*="settings"] main.settings {
	display:flex;
	flex:1;
}


.proc_page,
.settings_page {
	width:100%;
	color:var(--canvas-text-background-color);
	height:calc(100vh - 1px);
	height:calc(100dvh - 1px);
	display:flex;
	position:relative;
	overflow-x:auto;
}

.proc_page section,
.settings_page section {
	display:flex;
	flex-direction:column;
	flex:1;
	position:relative;
}

.proc_page .header{
	display:flex;
}

.proc_page details > .header {
    padding-left: 15px;
}

.proc_page details summary { 
	display:grid; 
	position:relative;
}

.proc_page details summary .header::before {
	content: "keyboard_arrow_right";
	position:absolute;
	align-self:center;
	display: inline-block;
	left: -3px;
	font-family: var(--icon-font-family);
    cursor:inherit;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    font-size:16px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    /* @noflip */
    direction: ltr;
    pointer-events:none;
    vertical-align:top;
    overflow:hidden;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.proc_page details[open] summary .header::before {
	content: "keyboard_arrow_down";
}


.proc_page span {
	vertical-align:bottom;
	border-right:1px solid var(--inactive-text-background-color);
	font-size:13px;
	font-weight:normal;
	width:60px;
	text-align:right;
	height:40px;
	padding:10px;
	align-items:flex-end;
	display:flex;
}

.proc_page .cpe-button span {
    border-right:0;
    font-weight:inherit;
    vertical-align:middle;
    padding:0;
    height:auto!important;
    font-size:inherit;
    display:inherit;
    text-align:left;
    width:auto;	
}

.proc_page .cpe-button .cpe-icon {
    height:1em!important;
}


.proc_page .upper,
.settings_page .upper {
	background-color:rgba(var(--canvas-background-color-rgb),var(--page-opacity));
	border-bottom:1px solid var(--inactive-text-background-color);
	color:var(--canvas-text-background-color);
	top:0;
	position:relative;
	padding-right:var(--scrollbar-width);
	transition:background-color var(--transition-duration) var(--transition-timing-function);
	scrollbar-color:transparent transparent;
	/* Track */
	--scrollbar-track-color-1:transparent;
	--scrollbar-track-color-2:transparent;
	--scrollbar-track-text:transparent;
	/* Thumb */
	--scrollbar-thumb-color-1:transparent;
	--scrollbar-thumb-color-2:transparent;
	--scrollbar-thumb-text:transparent;

}

.proc_page .heading {
	border-bottom:1px solid var(--inactive-text-background-color);
}

.proc_page .heading:not(:first-child) {
	border-top:1px solid var(--inactive-text-background-color);
}

.settings_page .upper {
	background-color:rgba(var(--canvas-tabs-background-color),var(--canvas-active-tabs-opacity));
	color:var(--canvas-text-secondary-background-color);
}

.proc_page .upper span {
	display:flex;
	justify-content:flex-end;
	flex-direction:column;
	text-align:left;
	overflow:hidden;
	text-overflow:ellipsis;
}

.settings_page .upper {
	height:48px;
	display:flex;
	align-items:center;
}

.settings_page .upper h2,
.proc_page footer h2,
main.performance footer.upper h2 {
	display:flex;
	flex-direction:column;
	text-align:left;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:10px;
	font-weight:500;
	flex:1;
	color:var(--canvas-text-secondary-background-color);
}

.proc_page .upper span:hover,
.proc_page .header.item:hover {
	background-color:var(--canvas-text-fadeout-color);
}

.proc_page article,
.settings_page article {
	flex:1;
	overflow-y:scroll; /* Not auto, as it will cause isses when container is not scrollable */
	background-color:rgba(var(--canvas-background-color-rgb),var(--page-opacity));
	color:var(--canvas-text-background-color);
	scrollbar-color:var(--canvas-background-color) var(--canvas-text-background-color);
	/* Width */
	--scrollbar-width:17px;
	/* Track */
	--scrollbar-track-color-1:var(--canvas-background-color);
	--scrollbar-track-color-2:var(--canvas-background-color-hover);
	--scrollbar-track-text:var(--canvas-text-background-color);
	/* Thumb */
	--scrollbar-thumb-color-1:var(--canvas-text-background-color);
	--scrollbar-thumb-color-2:var(--canvas-text-background-color-hover);
	--scrollbar-thumb-text:var(--canvas-background-color);

}





.proc_page footer,
main.performance footer.upper {
	background-color:rgba(var(--canvas-tabs-background-color),var(--canvas-active-tabs-opacity));
	padding-right:10px;
	display:flex;
	border-bottom:1px solid var(--inactive-text-background-color);
	align-items:center;
	justify-content:flex-end;
	transition:background-color var(--transition-duration) var(--transition-timing-function);
	height:48px;
}


.proc_page span:last-child{
	border-right-color:transparent;
}

.proc_page .header span counter{
	font-size:19.5px;
	display:block;
	font-weight:500;
}

.proc_page .heading span,
.proc_page .item span {
	height:25px;
	align-items:center;
	justify-content:flex-end;
}

.proc_page .item span {
	height:20px;
}

.proc_page details > .item span {
	height:15px;
}

.touch-events .proc_page details > .item span {
	height:20px;
}


.touch-events .proc_page .heading span {
	height:30px;
}

.touch-events .proc_page .item span {
	height:25px;
}



.proc_page h2{
	color:var(--hyperlink-background-color);
	font-weight:500;
	margin:0;
	padding:0;
}


.history .proc_page .upper span,
.startup .proc_page .upper span,
.details .proc_page .upper span {
	height:25px;
}

.touch-events .history .proc_page .upper span,
.touch-events .startup .proc_page .upper span,
.touch-events .details .proc_page .upper span {
	height:30px;
}


.proc_page .name{
	width:auto;
	text-align:left;
	flex:2;
	align-items:flex-start;
}


.proc_page .ucpu {
	width:auto;
	align-items:flex-start;
	text-align:left;
	width:100px;
}


.startup .proc_page .cpu,
.startup .proc_page .ram,
.startup .proc_page .disk {
	width:100px;
}

.proc_page header:not(.upper) .name,
.proc_page header:not(.upper) .ucpu{
	justify-content:flex-start;
}

@media only screen and (max-width:889px) {
	.tabs a  {
		font-size:0;
	}
	.tabs {
		width:48px;
	}
}

@media only screen and (min-width:890px) {

/* Search Box */
	.tabs .search__container > .search {
			display:none;
	}

	.tabs .search__container .cpe-dropdown__content {
		 pointer-events:all;
		 bottom:0%!important;
		 opacity:1!important;
		--dropdown-scale:1;
		--dropdown-translate:0;
		animation:none;
		-webkit-backdrop-filter:none;
		backdrop-filter:none;
		transition:padding-left var(--transition-duration) var(--transition-timing-function), padding-right var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function);
		transform-origin:left;
		background-color:transparent;
		color:inherit;
		border:0;
		border-radius:0;
		position:relative;
		padding:0;
		box-shadow:none!important;
		left:auto!important; 
		transition:none!important;
		width:100%;
 	}
 	
	.tabs .search__container .pageheader-search .cpe-input {
		width:170px;
		min-width:170px;
	}
 	
 	.tabs .search__container .cpe-dropdown__content .cpe-list {
		padding:0;
		margin:0;
	}
	
 	.tabs .search__container .cpe-dropdown__content .cpe-list>li {
		padding:0 0px;
		display:flex;
		align-items:center;
		justify-content:center;
		height:auto;
 	}
	
	.tabs .search__container:before,
	.tabs .search__container:after {
		animation:none;
		display:none;
	}


}

/* Performance Page */
.page {
	display:flex;
	background-color:rgba(var(--canvas-background-color-rgb),var(--page-opacity));
	color:var(--canvas-text-background-color);
	height:0;
	box-sizing:border-box;
	padding:10px;
	margin:0;
	flex:1 0 auto;
}


.page.ram,
.page.disk,
.page.network,
.page.gpu {
	display:none;
}



.page box.left {
	width:280px;
	max-width:calc(80px + 35%);
	border-right:1px solid;
	padding:0 5px 0 0;
	box-sizing:border-box;
	overflow-y:auto;
}

.page box.right {
	flex:1;
	display:none;
	flex-flow:column nowrap;
	padding:0 10px 0 15px;
	overflow:auto;
}


.page box.right.selected {
	display:flex;
}

.page box.left .button {
	cursor:var(--cpe-hand-cursor);
	font-size:13px;
	font-weight:400;
/*	min-height:78px; */
	padding:5px;
	box-sizing:border-box;
	display:flex;
	margin:0 0px 5px;
	border:1px solid transparent;
	color:inherit;
	transition:color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
	border-radius:var(--border-radius);
	text-decoration:none;
	line-height:1.23;
}


.page box.left .button > div {
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden;
	flex:1;
	flex-basis:calc(100% - 160px);
}

body.has-no-left-graphs .page box.left .button > div {
	flex-basis:calc(100% - 55px);
}

.page box.left .button > div > big {
	font-weight:500;
}

.page box.left .button > div > .subtitle {
	opacity:var(--disabled-elements-opacity);
}

.page box.left .button:hover {
	background-color:rgba(var(--canvas-text-background-color-rgb),0.2);
	border-color:rgba(var(--canvas-text-background-color-rgb),0.1);
	color:var(--canvas-text-background-color-hover);
    box-shadow:var(--threeD-shadow);
}

.page box.left .button:active {
    box-shadow:var(--threeD-shadow-active);
}

.page box.left .button.selected {
	background-color:rgba(var(--hyperlink-background-color-rgb),0.4);
	border-color:rgba(var(--hyperlink-background-color-rgb),0.2);
	color:var(--hyperlink-background-color);
    box-shadow:var(--threeD-shadow-active);
	font-variation-settings: 'FILL' 1;
}

.page box.left .circle {
	--border-color:currentColor;
	--background-color:transparent;
	flex-basis:0!important;
	border:1px solid;
	border-radius:50%;
	width:24px;
	height:24px;
	margin:0 5px 0 0;
	background-color:var(--canvas-background-color);
	border-color:var(--border-color);
	box-shadow:0 0 0 100vh var(--background-color) inset;
}

.page box.left .circle.cpu {
	--border-color:var(--cpu-graph-color);
	--background-color:rgba(var(--cpu-graph-color-hover-rgb),var(--graphs-opacity));
}

.page box.left .circle.ram {
	--border-color:var(--ram-graph-color);
	--background-color:rgba(var(--ram-graph-color-hover-rgb),var(--graphs-opacity));
}

.page box.left .circle.disk {
	--border-color:var(--disk-graph-color);
	--background-color:rgba(var(--disk-graph-color-hover-rgb),var(--graphs-opacity));
}

.page box.left .circle.network {
	--border-color:var(--network-graph-color);
	--background-color:rgba(var(--network-graph-color-hover-rgb),var(--graphs-opacity));
}

.page box.left .circle.gpu {
	--border-color:var(--gpu-graph-color);
	--background-color:rgba(var(--gpu-graph-color-hover-rgb),var(--graphs-opacity));
}

.page box .graph {
	color:var(--canvas-text-background-color);
	border:1px solid var(--inactive-text-background-color);
	border-radius:var(--menu-border-radius);
}

.page box.left .graph {
	background-color:var(--canvas-background-color);
	flex-basis:0!important;
}

body.has-no-left-graphs .page box.left .graph,
body:not(.has-no-left-graphs) .page box.left .circle {
	display:none!important
}

.page box .graph .graph_container {
	width:100%;
	height:100%;
}


.page box .g_raph {
  	display:contents;
	flex:1;
}

/*
T   = Temperature	  (Page 1 or 2)
AT  = Utilization	  (Page 1)
F   = Frequency 	  (Page 2)
MEM = Discrete Memory (Page 3)
PCR = PerfCap Reason  (Page 4)
*/

.page box.right.cpu .g_raph:not([page*="1"]) .heatmap,
.page box.right.cpu .g_raph:not([page*="1"]) .graphHTM,
.page .g_raph:not([page*="0"]) .graph:not(.graphHTM):not([class*="graphT"]):not([class*="graphAT"]):not([class*="graphF"]):not([class*="graphMEM"]):not([class*="graphPCR"]),
.page box.right.cpu .g_raph:not([page*="2"]) .graphT,
.page box.right.gpu .g_raph:not([page*="1"]) .graphT,
.page box.right.disk .g_raph:not([page*="1"]) .graphAT, 
.page box.right.network .g_raph:not([page*="1"]) .graphAT, 
.page box.right.cpu .g_raph:not([page*="3"]) .graphF, 
.page box.right.gpu .g_raph:not([page*="3"]) .graphF, 
.page box.right.gpu .g_raph:not([page*="2"]) .graphMEM {
	display:none!important;
}

.page box.right.cpu .g_raph .heatmaps {
	display:grid;
	height:100%;
	width:calc(100% + 2px);
}

.page box.right.cpu .g_raph .heatmaps[more] {
	gap:4px;
	grid:auto-flow / repeat(2, 1fr);
}


.page box.right.cpu .g_raph .heatmap {
	display:flex;
	display:grid;
	flex-wrap:wrap;
	grid:auto-flow / repeat(var(--heatmap-rows, 2), 1fr);
	flex:1;
	overflow:auto;
/*	background-color:var(--canvas-background-color); */
	color:var(--canvas-text-background-color);
	height:100%;
	min-height:26px;
	width:calc(100% - 0);
	gap:1px;
}

.page box.right.cpu .g_raph .heatmap cpu{
	--heatmap-usage:0%;
	--kernel-usage:0%;
	flex:1;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	font-size:16px;
	font-weight:500;
	min-width:47px;
/*	background-color:rgba(193,144,0,calc( var(--heatmap-usage) / 100 )); */
	background-color:var(--canvas-background-color);
	border:1px solid var(--inactive-text-background-color);
	position:relative;
	z-index:1;
	color:var(--canvas-text-background-color);
	border-radius:var(--border-radius);
}

.page box.right.cpu .g_raph .heatmap cpu::after{
	background-color:rgba(var(--cpu-graph-color-hover-rgb),calc( var(--heatmap-usage) / 1.25 ));
	width:100%;
	content:"";
	display:block;
	bottom:0;
	left:0;
	height:100%;
	z-index:-1;
	position:absolute;
	border-radius:var(--border-radius);
}

/*
.page box.right.cpu .g_raph .heatmap cpu::before{
	background-color:rgba(var(--warning-background-color-rgb),0.3);
	width:100%;
	content:"";
	display:block;
	bottom:0;
	left:0;
	height:var(--kernel-usage);
	z-index:-1;
	position:absolute;
}
*/

.page box.left .button .graph {
	width:92px;
/*	min-height:64px; */
	margin:0 5px 0 0;
}

.page box.right  .graph {
	min-height:128px;
}


.page box.right .header {
	display:flex;
	padding:0 0 5px 0;
	align-items:center;
}

.page box.right h3 {
	font-size:20px;
	font-weight:400;
	margin:0;
	padding:0;
}

.page box.right h1 {
	flex:1 0 auto;
	font-size:40px;
	font-weight:500;
	margin:0;
	padding:0 10px 0 0;
}

.page box.right .graph {
	flex:1;
	background-color:transparent;
	width:calc(100% - 2px);
	height:100%;
	display:flex;
	flex-direction:column;
	border:0;
}

.page box.right .graph .graph_text {
	width:100%;
	display:flex;
}

.page box.right .graph .graph_text span:first-child {
	flex:1;
}

.page box.right .graph .graph_container {
	--grid-lines-color:var(--inactive-text-fadeout-color);
	border:1px solid var(--inactive-text-background-color);
	background-color:var(--canvas-background-color);
	background-image:repeating-linear-gradient(-90deg,   transparent 0 calc(5% - 1px), var(--grid-lines-color) calc(5% - 1px) 5%  ), 
					 repeating-linear-gradient(-90deg,   transparent 0 calc(5% - 1px), var(--canvas-background-color) calc(5% - 1px) 5%  ), 
					 repeating-linear-gradient(  0deg,   transparent 0 calc(10% - 1px), var(--grid-lines-color) calc(10% - 1px) 10%  );
    background-position: -1px -1px;
    background-size: calc(100% + 1px) calc(100% + 1px);
    border-radius:var(--border-radius);

}

.page box.right .graph.graphPCR {
	background-color:#b7b7b7;
}

.page box.right .bottom {
	padding:2px 0;
	box-sizing:border-box;
	display:flex;
	flex-wrap:wrap;
}


.page box.right .bottom .leftp, 
.page box.right .bottom .rightp {
	margin:0 10px 0 0;
}

.page box.right .bottom .leftp .col {
	display:flex;
}

.page box.right .bottom .leftp .info {
	margin:10px 10px 0 0;
	padding-left:10px;
}

.page box.right .bottom .leftp .info span {
	color:var(--inactive-text-background-color);
	font-size:12px;
	display:block;
	white-space:nowrap;
}

.page box.right .bottom .leftp .info em {
	color:var(--canvas-text-background-color);
	font-weight:500;
	display:block;
	font-size:24px;
	font-style:normal;
}

.page box.right .bottom .rightp ul {
	list-style:none;
	padding:0;
	margin:10px 0;
}

.page box.right .bottom .rightp li {
	color:var(--inactive-text-background-color);
	padding-left:0;
}

.page box.right .bottom .rightp li span {
	color:var(--canvas-text-background-color);
}

/* App Icons */
.proc_page .header.item .name::before {
    content:"";
    align-self:center;
    background-image:url("AppIcons/Application.ico");
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:24px;
    height:24px;
    margin-right:5px;
}

.proc_page .header.item[appname="FileManager"] .name::before {
    background-image:url("AppIcons/File Manager.ico");
}

.proc_page .header.item[appname="browser"] .name::before {
    background-image:url("AppIcons/Qortex Chromessentials.ico");
}

.proc_page .header.item[appname="services"] .name::before {
    background-image:url("AppIcons/Services.ico");
}

.proc_page .header.item[appname="console"] .name::before {
    background-image:url("AppIcons/Command Console.ico");
}

.proc_page .header.item[appname="system"] .name::before {
    background-image:url("AppIcons/Evelution.ico");
}

.theme-fandomdesktop-dark .proc_page .header.item[appname="system"] .name::before {
    background-image:url("AppIcons/Evelution_dark.ico");
}

.proc_page .header.item[appname="settings"] .name::before {
    background-image:url("AppIcons/System Settings.ico");
}

.proc_page .header.item[appname="qqupdater"] .name::before {
    background-image:url("AppIcons/Q.Qore Updater.ico");
}

.proc_page .header.item[appname="TaskMgr"] .name::before {
    background-image:url("AppIcons/Task Manager.ico");
}

.users .proc_page .header.item[alt] .name::before {
    background-image:url("AppIcons/User.ico");
}


/* Settings Page */
.settings_page input#AppTheme05:not(:checked),
.settings_page input#AppTheme05:not(:checked) + label { 
    display:none; 
}